.wrapper {
    position: relative;
    display: grid;
    place-content: center;
    margin: 10vh auto;
    padding: 50px;
  }
  
  .weather {
    position: relative;
    margin: 0 auto;
    max-width: 90vw;
  }
  
  .weather-title,
  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    max-width: 100%;
    width: 500px;
    background: #ffffff40;
    backdrop-filter: blur(1.2em);
    padding: 25px 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.2);
    text-align: center;
  }
  .weather-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  // .weather-title {
  //   margin-bottom: 15px;
  //   padding: 10px;
  //   font-size: 20px;
  //   backdrop-filter: blur(1.2em);
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  .weather-form-search input,
  .weather-form-search button {
    outline: none;
    border: none;
    transition: all 250ms ease-in-out;
  }
  
  .weather-form-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 25px;
    padding: 8px 12px;
    backdrop-filter: blur(1.2em);
    max-width: 100%;
    width: 500px;
  
    border-radius: .5rem;
    box-shadow: -3px -3px 20px #fff, 5px 5px 20px #919dcc;
    font-size: 1em;
    text-shadow: .0625rem .0625rem .0625rem #fff;
  
    &:hover {
      box-shadow: -1px -1px 12px #fff, 1px 1px 12px #babecc;
    }
  
    &:active {
      background-color: #fff;
      box-shadow: inset 1px 1px 1px #babecc, inset -1px -1px 1px #fff;
    }
  }
  .weather-form-search input {
    width: 90%;
    padding: 0.7em;
    // background-color: transparent;
    background: #ffffff40;
    text-shadow: 0.5px 0.5px 0 #3d3d3d;
  }
  
  .weather-form-search input::placeholder {
    font-size: calc((1vw + 1vh) * .8); 
    color:#000;
    font-weight: 20px;
    background-color: transparent;
  }
  
  .weather-form-search input:focus {
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.2em);
  }
  
  .weather-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    border-radius: 0.3em;
    text-shadow: 0.5px 0.5px 0 #fff;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    box-shadow: -3px -3px 15px #fff, 3px 3px 15px #919dcc;
  
    &:hover,
    &:focus {
      box-shadow: inset 1px 1px 1px #babecc, inset -1px -1px 1px #fff;
      transform: scale(0.8);
    }
  
    &:active {
      box-shadow: inset 1px 1px 1px #babecc, inset -1px -1px 1px #fff;
    }
  
  }
  
  .weather-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
  }
  
  .weather-list h2 {
    margin-bottom: 15px;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 0.18em;
  }
  
  .weather-main-forecast {
    color: #e5e5e5;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
  }
  
  .weather-main-forecast {
    margin-top: -0.7em;
    color:#000;
  }
  
  .weather-list img {
    width: 6.2em;
    filter: drop-shadow(0 1px 0.5rem #babecc);
  }
  
  .temp-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  
  .temp-container div {
    padding: 0.3em 1em;
  }
  
  .temp-container div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
  }
  
  .temp-container .title {
    font-weight: 600;
    color:#fff;
  }
  
  .temp-container .temp {
    color: #fff;
  }
  
  .msg {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .weather-item--row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  
    &::before {
      content: '';
      display: flex;
      margin-right: 12px;
      margin-left: 12px;
      width: 100%;
      height: 1px;
      flex-grow: 1;
      background: rgba(157, 164, 189, 0.12);
    }
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
  .weather-item--text {
    flex-shrink: 0;
    font-size: 20px;
  
    &:first-child {
      order: -1;
    }
  
  }
  .weather-item h3 {
    margin-bottom: 15px;
  }
 